#root {
  width: 700px;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pfp {
  margin: 1rem;
  width: 100px;
  height: 100px;
  max-width: 100%;
  border-radius: 15px;
}

.randomGif {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
}

.nameBox {
  margin: .5rem;
  background-color: rgba(8, 39, 104, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin: 1rem;
}

.centerWrapper {
  display: flex;
}

.randomGifBox {
  margin: .5rem;
  padding: 1rem;
  background-color: rgba(8, 39, 104, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randomGifTitle {
  margin-bottom: 1rem;
  margin-top: 0;
}

.infoText {
  margin: 1rem;
}

.basicInfo {
  margin: .5rem;
  display: flex;
  background-color: rgba(8, 39, 104, 0.7);
  border-radius: 15px;
  align-items: center;
}

.secretLink {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 17px;
  color: #072675;
}
